@font-face {
  font-family: 'PokemonDS';
  src: url(font/pokemon-ds-font.ttf)
}
body {
    background-image: url('image/dandadan2-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'PokemonDS';
    color:#ffffff;
    text-shadow: red 2px 2px 4px, yellow -2px -2px 4px  ;
}
h3 {
    font-family: 'PokemonDS';
    font-size: 1.5em;
    color:#000000;
    text-shadow: red 2px 2px 4px, yellow -2px -2px 4px;
}
#container{
  border: 2px solid black;
}
#container1{
  background-color: yellow;
  border: 2px solid black;
}
#container2 > p{
  background-color: yellow;
  border: 2px solid black;
}
#container3 ~ p{
  background-color: yellow;
  border: 2px solid black;
}

#container4 + p{
  background-color: yellow;
  border: 2px solid black;
}

button:hover{
  cursor: pointer;
  font-size: 1.1em;
  background-color: lightblue;
  color: darkblue;
}

button:active {
  background-color: blue;
  color: red;
  font-size: 1.1em;
}

a:link {
  color: rgb(238, 0, 255);
  text-decoration: none;
}
a:hover {
  color:purple
  font-size: 1.2em;
}
a:active {
  color: red;
  font-size: 1.2em;
}
a:visited {
  color: rgb(0, 255, 255);
  text-decoration: none;
}

li:hover{
  background-color: red;
}

li:not(:hover){
  background-color: rgb(0, 255, 115);
}

li:nth-child(3n){
  background-color: grey
}

#greeting p{
  background-color: white;
  padding: auto;
  display: none;
}

#greeting:hover p{
  display: block;
  color: black;
  font-size: 1.2em;
  text-decoration: underline;
}

h1::first-letter{
  font-size: 2em;
  font-style: Italic;
}

p::first-line{
  background-color: turquoise;
}

p::selection{
  color: greenyellow;
  background-color: black;
}

#fruit li::before{

}

#apple::after{
  content:"🍎";
}

#banana::after{
  content:"🍌";
}

#grape::after{
  content:"🍇";
}

#fruit li::marker{
  content:"✅";
  color: green;
}
.pagination{
  text-align: center;
  font-size: 2em;
}

.pagination a.active{
  background-color: gold;
  font-weight: bold;
}

.pagination a{
  color:gray;
  text-decoration: none;
  padding:auto;
  display:inline-block
}

.pagination a:hover:not(.active){
  color:blue;
}