
@font-face {
  font-family: 'PokemonDS';
  src: url(font/pokemon-ds-font.ttf)
  
}

body {
  background-color:beige;  
  font-family: 'PokemonDS';
  color:#36454F;
}

h1 {
  font-family: 'PokemonDS';
  font-size: 2em;
  color:#36454F;
}

hr {
  border: 0;
  border-top: 5px double grey;
  margin: 3rem 0;
}

body p {
  display: inline-block;             
  text-decoration-line: underline;
  text-decoration-color: grey;
  text-decoration-thickness: 2px;     
  text-underline-offset: 0.2em;         
}

pre {
  font-family: 'PokemonDS';
  font-size: 1.2em;
  color: #36454F;
  white-space: pre-wrap;    
}

.pagination{
  text-align: center;
  font-size: 2em;
}

.pagination a.active{
  background-color: gold;
  font-weight: bold;
}

.pagination a{
  color:gray;
  text-decoration: none;
  padding:auto;
  display:inline-block
}

.pagination a:hover:not(.active){
  color:blue;
}


