
@font-face {
  font-family: 'PokemonDS';
  src: url(font/pokemon-ds-font.ttf)
}

body {
  background-color:lightblue;  
  font-family: 'PokemonDS';
  color:#36454F;
}


div{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: block;
}
span {
    background-color: purple;
    width: 100px;
    height: 100px;
    display: inline;
}
.pagination{
  text-align: center;
  font-size: 2em;
}

.pagination a.active{
  background-color: gold;
  font-weight: bold;
}

.pagination a{
  color:gray;
  text-decoration: none;
  padding:auto;
  display:inline-block
}

.pagination a:hover:not(.active){
  color:blue;
}