
@font-face {
  font-family: 'PokemonDS';
  src: url(font/pokemon-ds-font.ttf)
}
body {
  background-color:lightblue;  
  font-family: 'PokemonDS';
  color:#36454F;
    border: 3px solid grey;
    display: flow-root;
}
#jamesclear{
    float: left;
    margin-right: 20px;
}
#erenyeager{
    float: right;
    margin-left: 20px;
}
.pagination{
  text-align: center;
  font-size: 2em;
}

.pagination a.active{
  background-color: gold;
  font-weight: bold;
}

.pagination a{
  color:gray;
  text-decoration: none;
  padding:auto;
  display:inline-block
}

.pagination a:hover:not(.active){
  color:blue;
}