@font-face {
  font-family: 'PokemonDS';
  src: url(font/pokemon-ds-font.ttf)
}
body {
  background-color:lightblue;  
  font-family: 'PokemonDS';
  color:#36454F;
}
div{
    border: 2px solid black;
    height: 75px;
    overflow: clip;
    overflow-clip-margin: 13px;
    font-size: 2em;
}
.pagination{
  text-align: center;
  font-size: 2em;
}

.pagination a.active{
  background-color: gold;
  font-weight: bold;
}

.pagination a{
  color:gray;
  text-decoration: none;
  padding:auto;
  display:inline-block
}

.pagination a:hover:not(.active){
  color:blue;
}